<%- include("partials/header") -%>

    <h1>
        <%= displayTitle %>
    </h1>
    <p>
        <%= displayContent.substring(0, 100) + "...." %>
        <a href="/posts/<%=displayTitle%> ">Read More</a>
    </p>
    <%- include("partials/footer") -%>